.project {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 15px;
  display: inline;
  position: relative;
}

.wrapper {
  margin-top: 15px;
  display: flex;
  gap: 15px;
  align-items: baseline;
  justify-content: end;
}

.image {
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease;
  width: 300px;
  height: auto;
  z-index: 1;
}

.image img {
  max-width: 100%;
}

.project:hover .image {
  visibility: visible;
  opacity: 1;
}

.project:hover .name {
  color: #0def95;
}

@media (max-width: 480px) {
  .image {
    width: 200px;
  }
}
