.contactDiv {
  text-align: center;
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.fa {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 50px;
}

.fa a:hover {
  transform: translateY(-3px);
}

.ulContact li {
  list-style: none;
  margin: 10px;
}

span {
  font-size: 2rem;
  font-weight: 600;
  color: #fcf4d9;
}
