nav {
  display: flex;
  margin: 25px 2px;
  justify-content: space-between;
  align-items: center;
}

.profile h1 {
  font-size: 28px;
}

.profile p {
  font-size: 0.8rem;
}

.navbar {
  display: flex;
  list-style: none;
  gap: 16px;
  font-size: 1.25rem;
}

.profile:hover h1{
  color: #fcf4d9;
}
