* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  max-width: 728px;
  margin: auto;
  background-color: #d55b3e;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

p.special {
  font-style: italic;
  color: #333;
}

p.picture {
  font-size: 0.2rem;
  font-weight: 900;
}

.profile-container {
  position: relative;
  display: inline-block;
}

.profile-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 5px;
}

.profile-container:hover .profile-image {
  opacity: 0.6;
}

footer {
  color: #070606b5;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
  font-size: 10px;
}
